<body>
<p>新增摄像机</p>
<br />
<form method="post" action="cam_add2">
    <table border='0' >
         <tr align='left'>
            <th> 摄像机编号:</th>
            <th> <input type="text" name="cam_id"  /></th>
            <th>    </th>
        <tr align='left'>
            <th> 摄像机IP:</th>
            <th> <input type="text" name="cam_ip"  /></th>
            <th>    </th>
            <th> 摄像机标签:</th>
            <th><input type="text" name="cam_label"  /></th>
        </tr>
        <tr align='left'>
            <th> 摄像机信息: </th>
            <th><input type="text" name="cam_info"  /></th>
            <th>    </th>
            <th> 视频流信息: </th>
            <th><input type="text" name="stream"  /></th>
        </tr>
    </table>
    <input type="submit" value="新增">
</form>

</body>
